* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}
.navbar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-content: center;
    margin-left: 250px;
}
.logo-img{
    height: 50px;
}
.logo-text{
    height: 40px;
    margin-right: 10px;
}
.logo-text{
    font-size: 16px;
    color: #333333;
    font-weight: normal;
}
.navbar-links a{
    margin-right: 19px;
    text-decoration: none;
    color: #0d0707;
    font-size: 14px;
}
.navbar-links .btn-trabajo{
    background-color: #f8971d;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);

}
.btn-trabajo{
    margin-right:80px;
}
.navbar-bottom{
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 30px;
    margin-left: 450px;
    
}
.navbar-bottom a{
    text-decoration: none;
    color: #21252b;
    font-weight: 800;
    font-size: 16px;
    margin-right: 40px;
}
.search-btn{
    background-color: #f8971d;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}


/*------------------------*/

.program-section{

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 60px;
    gap: 20px;
}
.breadcrumb{
    font-size: 14px;
    color: #f57c00;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.breadcrumb a{
    color: #f57c00;
    text-decoration: none;
    font-weight: bold;
}
.breadcrumb span{
    color: #333;
}
.program-info{
    max-width: 45%;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program-mode span{
    background-color: #FF6600;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
}
.program-info h1{
    color: #1e3a5f;
    font-weight: bold;
    margin: 30px 0;
    font-size: 50px;
    margin-left: 20px;
    margin-right: 50px;
    text-align: center
}
.program-info p{
    text-align: left;
    margin-left: 90px;
    margin-right: 80px;
}
p{
    font-size: 18px;
    line-height: 1.8;
    color: #333;
}
.btn-register{
    border: 2px solid #f57c00;
    background-color: transparent;
    padding: 20px 80px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 0;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 340px;
    color: black;
}
.btn-register:hover{
    background-color: #8C3800;
    color: #fff;
}
.btn-credits{
    background-color: #FF6600;
    color: #FFFFFF;
    border: none;
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 320px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
.btn-credits:hover{
    background-color: #8C3800;
    
}
.program-image img{
    border-radius: 50%;
    width: 510px;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
    margin-right: 250px;
}
.program-details{
    background-color: #617989;
    padding: 20px;
    border-radius: 8px;
    max-width: 3000px;
    font-size: 30px;
    margin-top: 30px;
    line-height: 1.6;
    margin-right: 250px;
}
.program-details p{
     color: #fff;
}



/*------------------------*/
.contact-section{
    text-align: center;
    padding: 40px 20px;
    border-top: 2px solid #f57c00;
    border-bottom: 2px solid #f57c00;
}
.contact-section h2{
    font-size: 40px;
    color: #1e3a5f;
    margin-bottom: 20px;
}
.contact-form{
    max-width: 1000px;
    margin: 0 auto;
}
.form-row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}
.form-row label {
    display: block;
    font-size: 14px;
    color: #1e3a5f;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    max-width: 250px;
}
input[type="checkbox"]{
    margin-right: 10px;
}
.form-check{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.form-check a {
    color: #f57c00;
    text-decoration: none;
}
.submit-btn{
    background-color: #f57c00;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}


/*------------------------*/

.titulaciones-section{
    text-align: center;
    padding: 40px 20px;
}
.titulaciones-section h2{
    font-size: 40px;
    color: #1e3a5f;
    margin-bottom: 30px;
}
.titulaciones-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.titulacion-card{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 500px;
    text-align: center;
}
.titulacion-card h3{
    font-size: 18px;
    color: #1e3a5f;
    margin-bottom: 10px;
}
.titulacion-card h4{
    font-size: 16px;
    font-weight: bold;
    color: #1e3a5f;
    margin-bottom: 15px;
}
.titulacion p{
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}
.titulacion-card a{
    color: #f57c00;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

/*------------------------*/

.campo-laboral-section{
    text-align: center;
    padding: 40px 20px;
}
.campo-laboral-section h2{
    font-size: 40px;
    color: #1e3a5f;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 1000px;
}
.campo-laboral-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.campo-laboral-list{
    list-style-type: disc;
    text-align: left;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding-left: 20px;
}
.campo-laboral-list li{
    margin-bottom: 6px;
}
.campo-laboral-images{
    display: flex;
    gap: 10px;
}
.campo-laboral-images img{
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}
.matriculas-abiertas-section{
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #ddd;
    
}
.matriculas-abiertas-section h2{
    font-size: 40px;
    color: #1e3a5f;
    margin-bottom: 10px;
}
.matriculas-abiertas-section p{
    font-size: 16px;
    color: #333;
    margin: 0;
}


/*------------------------*/
.experto-perfil-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 90px 160px;
    margin: 0 auto;
}
.experto-content{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: flex-start;
    /*padding: 60px 190px;*/
}
.experto-image img{
    width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.experto-list{
    flex: 1;
}
.experto-list h2{
    font-size: 45px;
    margin-bottom: 70px;
}
.experto-list ul{
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
    font-size: 18px;
}
.experto-list ul li{
    margin-bottom: 30px;
}
.boton-descarga {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1b4776;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.boton-descarga:hover{
    background-color: #0056b3;
}
.perfil-content{
    text-align: center;
    max-width: 800px;
}
.perfil-content h3{
    font-size: 30px;
    color: #ff6600;
    text-align: left;
    margin-bottom: 10px
}
.linea-separadora{
    width: 200px;
    height: 2px;
    color: #ff6600;
}
.perfil-content p{
    font-size: 18px;
    color: #333;
    max-width: 700px;
    text-align: left
}




/*------------------------*/

.footer{
    background-color: #4E5357;
    padding: 20px;
    box-sizing: border-box;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 70px 150px;
    align-items: flex-start;
}
.footer-logo{
    max-width: 600px;
    
}
.footer-logo p{
    color: #fff;
    font-size: 12px;
    margin-bottom: 17px;
}
.footer-logo img{
     width: 400px;
    
}
.pie-logo{
    margin-bottom: 40px;
}
.footer-email{
    color: #ff6600;
    text-decoration: none;
}
.footer-locations{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: #707070;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 70px;
}
.location h4{
    color: #ff6600;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
}
.location p{
    text-align: left;
    font-size: 12px;
    color: #fff;
}
.location h4, .location p{
    text-align: left;
    margin: 5px 0;
}
.certifications {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 90px
}
.certifications p{
    font-size: 12px;
    color: #fff;
}
.certifications img {
    width: 100px;
}
.social-icons{
    display: flex;
    gap: 10px;
}
.social-icons a img {
    width: 25px;
}
.footer-links{
    text-align: left;
    padding: 15px 20px;
    border-top: 1px solid #666;
}
.footer-links h3{
    color: #ff6600;
    margin-bottom: 12px;
}
.footer-links a{
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    padding-left: 0px;
    font-size: 12px;
}
.footer-links a:hover{
    text-decoration: underline;
}
.linea-pie{
    margin-left: 20px;
    color: #fff;
}
.boton-pie{
    background-color: #FF9900;
    color: #fff;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}























